*.logs
/data/analyzerOutput
/static-analyzers/sonarQube/sonarqube-8.3.1.34397/logs 
/static-analyzers/sonarQube/sonarqube-8.3.1.34397/data 
/static-analyzers/sonarQube/sonarqube-8.3.1.34397/temp 
/src/__pycache__  
static-analyzers/sonarQube/sonarqube-8.3.1.34397/bin/linux-x86-64/SonarQube.pid 
/.vscode
