*.logs
/data/analyzerOutput
/static-analyzers/sonarQube/sonarqube-8.4.1.35646 
/static-analyzers/sonarQube/sonarqube-8.4.1.35646.zip
/src/__pycache__  
/.vscode 
/NIL 
.scannerwork/
static-analyzers/sonarQube/sonar-scanner-4.4.0.2170-linux 
static-analyzers/sonarQube/sonar-scanner-cli-4.4.0.2170-linux.zip 
/reports